annotated-types==0.7.0
anyio==4.4.0
azure-cognitiveservices-speech==1.37.0
azure-cognitiveservices-vision-computervision==0.9.0
azure-common==1.1.28
azure-core==1.30.2
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
distro==1.9.0
exceptiongroup==1.2.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
isodate==0.6.1
opencv-python==4.10.0.82 
PyAudio==0.2.14
pydantic==2.7.3
pydantic-core==2.18.4
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==69.5.1
six==1.16.0
sniffio==1.3.1
tqdm==4.66.4
typing-extensions==4.12.1
urllib3==2.2.1
wheel==0.43.0
